/* color palette:
#9BB4B9 (blue)
#1A1A18 (black)
#806748 (tan)
#E2DBD5 (pale)
#8C391C (rust) */
/* * {
    border: 2px dotted red;
} */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #F7DCE1;
    background-color: #6F3259;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: #1A1A18;
    margin: 0;
    padding-left: 30px;
}
.image-container {
    padding-top: 90px;
    width: 100%;
}
.image-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #E2DBD5;
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    text-align: left;
}
h2 {
    font-size: 48px;
}

button {
    background-color: #F7DCE1;
    padding: 15px 20px;
    font-size: 20px;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: #5A3129;
    border: 2px solid #5A3129;
    border-radius: 3px;
}

#order-form {
    display: none;
    flex-direction: column;
}
#radio-buttons {
    display: flex;
    flex-direction: column;
}
#loading-screen {
    position: fixed;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6F3259;
    color: #FFB5E8;
    height: 100vh;
    width: 100%;
    top: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#loading-screen img {
    border: 2px solid #5A3129;
    border-radius: 15px;
}
#shop-buttons {
    display: none;
    flex-direction: column;
}
#display-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 100px;
}
.item-box {
    width: 300px;
    padding: 15px 10px;
    text-align: center;
}
#back-button {
    display: none;
    margin-bottom: 30px;
}
#donut-creation-screen {
    display: none;
    flex-direction: column;
}
#create-shop {
    margin-bottom: 30px;
}